.btn-default {
    background-color: #000;
    color: #fff;
    padding: 1rem 4rem;
}

.btn-green {
    background-color: green;
    color: #fff;
    padding: 1rem 4rem;
}

.search {
    display: flex;
    gap: 1rem;
}

.search button {
    outline: none;
    padding: .2rem .6rem;
}

.search input {
    padding: .4rem .8rem;
    outline: none;
}
