.sale__box {
    background-color: yellow;
    padding: 3rem 4rem;
}

.sale__box > title {
    display: block;
    margin: 2rem 0;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
}