.check__info {
    padding: 0 5rem;
}
.bills__detail {
    background-color: var(--bg-primary);
    padding: 0 4rem;
    border-left: solid .1rem var(--background-color);
}
.coupon {
    display: flex;
    justify-content: space-between;
}