.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  height: var(--height-header);
  padding: 0 3rem;
}

.logo {
  height: 4rem;
  width: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.nav a{
  padding: .5rem 1rem;
}

.nav a:hover {
  color: red;
}

.search {
  display: flex;
  position: relative;
}

.search input{
  outline: none;
}

.search button{
  position: absolute;
  right: .3rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.nav a{
  padding: .5rem 1rem;
}

.nav a:hover {
  color: red;
}

.search {
  display: flex;
  position: relative;
}

.search input{
  outline: none;
}

.search button{
  position: absolute;
  padding: .2rem .5rem;
  right: .3rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}