footer {
  display: flex;
  padding: 10px;
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #eee;
}
footer .footer-item {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

footer .footer-item:hover {
  color: #00bcd4;
  text-decoration: none;
}
