.wrapper {
    margin-top: 100rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    background-color: var(--background-color);
    padding: 4rem 10rem;
}

.footer-item{
    display: block;
    color: #333;
    padding: .5rem 0;
}

.footer-item:hover {
    color: red;
}

.store li {
    list-style: none;
    color: #333;
    padding: .5rem 0;
}

h2 {
    margin-bottom: 2rem;
}

