html {
    font-size: 62.5%; 
  }
  
  body {
    font-size: 1.6rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  #main {
    margin: 1rem 0;
  }
  
  :root {
    --height-header:6rem;
    --text-color:#333;
    --background-color: #595b5c;
    --bg-coupon: red;
    --bg-label: yellow;
  }